<div class="p-grid root">
  <div class="p-col-8">
    <div class="p-grid">
      <div class="p-col-6">
        <div class="p-grid input-group">
          <div class="p-col-12 no-pad-bottom">
            <label for="file-type">File Type:</label>
          </div>
          <div class="p-col-12 no-pad-top">
            <p-dropdown id="file-type"
                        [options]="fileTypes"
                        [(ngModel)]="fileDefinition.fileType"
                        optionLabel="name"
                        optionValue="value"
                        placeholder="Select File Type:"
                        [showClear]="true">
            </p-dropdown>
          </div>
        </div>
        <div class="p-grid input-group">
          <div class="p-col-12 no-pad-bottom">
            <label for="has-header">Has Header:</label>
          </div>
          <div class="p-col-12 no-pad-top">
              <p-dropdown id="has-header"
                          [options]="boolOptions"
                          [(ngModel)]="fileDefinition.hasHeader"
                          optionLabel="name"
                          optionValue="value"
                          placeholder="Has Header Row?"
                          [showClear]="true">
              </p-dropdown>
          </div>
        </div>
        <div class="p-grid input-group">
          <div class="p-col-12 no-pad-bottom">
            <label for="input-file">Has Header:</label>
          </div>
          <div class="p-col-12 no-pad-top">
              <input type="file" id="input-file" pInputText />
          </div>
        </div>
      </div>
      <div class="p-col-6">
        <div class="p-grid input-group">
          <div class="p-col-12 no-pad-bottom">
            <label for="delimiter">Delimiter:</label>
          </div>
          <div class="p-col-12 no-pad-top">
            <input type="text"
                   pInputText
                   id="delimiter"
                   [(ngModel)]="fileDefinition.delimiter"
                   maxlength="5"
                   [disabled]="fileDefinition.fileType != 'DELIMITED'"/>
          </div>
        </div>
        <div class="p-grid input-group">
          <div class="p-col-12 no-pad-bottom">
            <label for="xml-element">Record Xml Element:</label>
          </div>
          <div class="p-col-12 no-pad-top">
            <input type="text"
                   pInputText
                   id="xml-element"
                   [(ngModel)]="fileDefinition.recordXmlElement"
                   maxlength="50"
                   [disabled]="fileDefinition.fileType != 'XML'"/>
          </div>
        </div>
        <div class="p-grid input-group">
          <div class="p-col-12 no-pad-bottom" style="visibility: hidden;">
            <label>This should be invisible</label>
          </div>
          <div class="p-col-12">
            <button pButton type="button" label="Submit" (click)="submitFile()"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="p-col-4 lighter">
    <ngx-json-viewer [json]="data"></ngx-json-viewer>
  </div>
</div>
