.p-grid {
  background-color: #191919;
  min-height: 100px;
}

.p-col-4 {
  text-align: center;
  margin: auto;
}

.p-col-8 {
  margin: auto;
}

.p-col-4 span {
  font-family: "Brush Script MT";
  font-size: 42px;
  color: #c5e1a5;
}

.tab-menu {
  background-color: #2b2c2d;
  color: #c5e1a5;
}
