.p-grid {
  background-color: #1f2d40;
  min-height: 100px;
}

.p-col-4 {
  text-align: center;
  margin: auto;
}

.p-col-8 {
  margin: auto;
}

.p-col-4 span {
  font-family: "Brush Script MT";
  font-size: 62px;
  color: #81c785;
}
